.bolaPlaneta{
    width: 40px; height: 40px;
    border-radius: 50%;
}

.desenhoSol{
    background-color: yellow; border:10px solid orange
}
.desenhoAscendente{
    background-color: green; border: 10px solid blue
}
.desenhoLua{
    background-color: white; border: 10px solid grey
}
img{height: 70px;}