body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(121, 73, 150);
    box-sizing: border-box;
    color:white;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}
header{
    height: 9vh; width: 100%;
    position: fixed; top:0;
    background-color: rgb(114, 40, 156);
}
main{
    width: 92vw; height:86vh;
    margin-top: 11.1vh;
    background-color: black;
    border-radius: 1vh; border:0.3vh solid rgb(20, 17, 207);
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.imagenzona{
    width: 96%; height: 95%;
    overflow: hidden; overflow-y: scroll;
    display: flex; flex-direction: column; justify-content: space-around;align-items: center;
    
}
section{
    display: flex; flex-direction: column; align-items: center; width: 94%;
}


/*  PAGINA CADASTRO  */

.labelSelect{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.paginaCadastro{
    width: 90%;
    display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;
}
.paginaCadastro button{
    width: 70px;height:70px;border-radius: 50%;
}
.paginaCadastro button ion-icon{font-size: 45px;color: rgb(4, 218, 4);}
.decoracaoCadastro{
    height: 35px;
    background-color: #72289C;
    border: 2px solid #1411CF;
    border-radius: 5px;
    color: white;
}


/*  PAGINA USUARIOS  */

.paginaUsuarios{
    overflow: hidden;
    overflow-y: scroll;
    display: flex; justify-content: flex-start;
}
.usuarios{
    display: flex;flex-wrap: wrap;
}
.usuarios li{
    width: 120px;
    height: 100px;
    display: flex;flex-direction: column;align-items: center;
}
.azulUsuario ion-icon{color: aqua;}
.usuarios li ion-icon{
    font-size: 30px;
    color: yellow;
}

/*  PAGINA SIGNOS  */
.paginaSignos{height: 95%;}
.planeta{
    display: flex; flex-direction: column; align-items: center;
}
h1{
    font-size: 30px;
    margin:5px
}

/*  PAGINA PLANETA  */
h2{
    font-size: 25px;
}
p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
}
p small{
    color: aqua;
    font-weight: 200;
    font-size: 15px;
}
.frase{margin-bottom: 10px;}
.botoesConcorda {
    margin-bottom: 20px;
    margin-top: 5px;
}
.botoesConcorda button{
    background-color: black;
    border: 0;
}
.like{color: green;}
.dislike{color:red}
.contribua{display: flex;width: 94%;justify-content: center;}
.contribua input{
    background-color: black;
    border: 1px solid white;
    width:calc(100% - 30px);height: 35px;
    color: white;
}
.contribua button{
    background-color: black;
    border:0;margin-left:2px
}
.contribua button ion-icon{
    font-size: 30px;
    color: white;
}
section ul{
    width: 100%;
}
.voltar{
    position: fixed;
    top:0;left:0;
    width: 9vh;
    height: 9vh;
    background-color: #72289C;
    border: 0;
}
.voltar ion-icon{
    font-size: 40px;
    color: white;
}


/*  AUXILIARES  */
.some{display: none;}
.naoClica{pointer-events: none;}